.direct-flight {
    background-color: #FF6748; /* Orange for direct flights */
    color: white;
}

.connecting-flight {
    background-color: black;
    color: white;
}

.sidebar {
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    height: 100vh;
}

.sidebar-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.flight-list {
    padding: 20px;
}
